################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/coffe-app/.vs/coffe-app/FileContentIndex/62bf3370-79e0-487c-b539-79302e093731.vsidx
/coffe-app/.vs/coffe-app/FileContentIndex/79e802f5-1936-4ae2-b0c2-e455623b5829.vsidx
