################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/coffe-app/.vs/coffe-app/FileContentIndex/62bf3370-79e0-487c-b539-79302e093731.vsidx
