################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/coffe-app/.vs/coffe-app/FileContentIndex/62bf3370-79e0-487c-b539-79302e093731.vsidx
/coffe-app/.vs/coffe-app/FileContentIndex/79e802f5-1936-4ae2-b0c2-e455623b5829.vsidx
coffe-app/.vs/coffe-app/FileContentIndex/b6292d73-00ab-4c2c-8b54-213a061e255b.vsidx
/coffe-app/.vs/coffe-app/FileContentIndex/8c970773-6776-458c-9b7b-08969adf7508.vsidx
coffe-app/.vs/coffe-app/FileContentIndex/1e240d94-3946-4209-8a98-c3a6499b9022.vsidx
coffe-app/.vs/coffe-app/FileContentIndex/5194be5f-7404-4204-8a1c-ff78fd795827.vsidx
/coffe-app/.vs/coffe-app/FileContentIndex
